<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/normalize.css">
    <link rel="stylesheet" href="/styles/styles.css">
    <title class="logo">Registro</title>
    <link rel="stylesheet" href="/styles/styles2.css">
</head>
<body>
    <div class="form-container contenedor">
        <div class="img-form">
  
        </div>
        <form class="formulario">
          <div class="text-formulario">
              <h4>Registrarse</h4>
          </div>
          <div class="input">
              
              <input  placeholder="Nombre Completo *" type="text" id="nombre">
  
          </div>
          <div class="input">
              
              <input placeholder="Correo Electrónico*" type="correo" id="correo">
          </div>
          <div class="input">
            <input placeholder="Teléfono*" type="tel" id="telefono">
          </div>
          <div>
            <div class="input">
                <input placeholder="Contraseña*" type="password" id="contraseña">
            </div>
            <div class="input">
                <input placeholder="Confirme su contraseña*" type="password" id="contraseña">
            </div>
          </div>
          <div class="input">
              <input type="submit" value="Registrarse">
          </div>
          
        </form>
     </div>
</body>
</html>